### Run 10_import notebook before proceeding with work in this notebook:

In [2]:
%run 10_import_and_inspect.ipynb

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1757 entries, 0 to 1756
Data columns (total 24 columns):
TEAM          1757 non-null object
CONF          1757 non-null object
G             1757 non-null int64
W             1757 non-null int64
ADJOE         1757 non-null float64
ADJDE         1757 non-null float64
BARTHAG       1757 non-null float64
EFG_O         1757 non-null float64
EFG_D         1757 non-null float64
TOR           1757 non-null float64
TORD          1757 non-null float64
ORB           1757 non-null float64
DRB           1757 non-null float64
FTR           1757 non-null float64
FTRD          1757 non-null float64
2P_O          1757 non-null float64
2P_D          1757 non-null float64
3P_O          1757 non-null float64
3P_D          1757 non-null float64
ADJ_T         1757 non-null float64
WAB           1757 non-null float64
POSTSEASON    340 non-null object
SEED          340 non-null float64
YEAR          1757 non-null int64
dtypes: float64(18), int64(3), object(3)
memory usage: 329.6+ KB
1.0
16.0

#### label the target column, 'Y':

In [3]:
Y = df['SEED'].copy()

#### repalce the null values with 0 since it was confirmed in 10-import_and_inspect Notebook that the null values are non-trivial: represent teams that never made it to the basketball tournament:

In [4]:
Y.fillna(0, inplace = True)

In [5]:
Y.value_counts()

0.0     1417
16.0      30
11.0      30
3.0       21
15.0      20
10.0      20
2.0       20
6.0       20
9.0       20
7.0       20
14.0      20
5.0       20
8.0       20
12.0      20
13.0      20
1.0       20
4.0       19
Name: SEED, dtype: int64